// ============================================================
// Mixins
// ============================================================

@mixin icon-style($filename, $width: 24px, $height: $width) {
  display: inline-block;
  width: $width;
  height: $height;
  background-image: url('../img/img-kb/#{$filename}');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
