@charset "utf-8";

@import './normalize.css';
@import './fontset.css';

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    overflow-x: hidden;
  }
}

/* DEFAULT */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
button,
form,
fieldset,
p,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  font-family:
    'Noto Sans KR',
    -apple-system,
    BlinkMacSystemFont,
    Apple SD Gothic Neo,
    Segoe UI,
    Malgun Gothic,
    맑은 고딕,
    sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
fieldset {
  border: 0 none;
}

body,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd,
th,
td,
div,
p,
a {
  color: #444444;
  /* font-size:13px; */
  font-family:
    'Noto Sans KR',
    -apple-system,
    BlinkMacSystemFont,
    Apple SD Gothic Neo,
    Segoe UI,
    Malgun Gothic,
    맑은 고딕,
    sans-serif;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

form,
fieldset,
legend,
input,
button,
textarea,
label {
  color: #555555;
  font-size: 13px;
  line-height: 1.65;
}

ul,
ol,
li {
  list-style: none outside;
}

table {
  border-collapse: collapse;
}

td,
th {
  word-break: break-all;
  box-sizing: border-box;
  padding: 0 10px;
}

.tal {
  text-align: left !important;
}
.tac {
  text-align: center !important;
}
.tar {
  text-align: right !important;
}

input,
textarea,
select {
  display: inline-block;
  font-size: 1em;
  vertical-align: middle;
  font-family: 'Noto Sans KR';
}

select {
  height: 30px;
  border: 1px solid #7a7a7a;
  min-width: 100px;
}

textarea {
  resize: none;
  box-sizing: border-box;
  padding: 5px;
  line-height: 18px;
  font-family: 'Noto Sans KR';
}

/* ::placeholder {
	color: #222;
	opacity: 0.3;
} */

address,
em {
  font-style: normal;
}

caption {
  overflow: hidden;
  width: 0;
  height: 0;
  display: none;
}

legend {
  font: 0;
  line-height: 0;
  text-indent: -9999em;
}

hr {
  display: none;
}

a {
  text-decoration: none !important;
  color: #444;
  cursor: pointer;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer !important;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer !important;
}

img {
  display: block;
}

table {
  width: 100%;
  box-sizing: border-box;
}

i.xi {
  position: relative;
  overflow: hidden;
}

i.xi span.hide {
  position: absolute;
  opacity: 0;
  text-indent: -9999px;
}

.pub-list-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 10px;
  bottom: 30px;
  background-color: #222;
  color: #fff;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  z-index: 100;
}

.pub-list {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px;
  margin-top: 20px;
}

.pub-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
